HALO_DOMAIN=auth.example.com
HALO_VERSION=main
POSTGRES_PASSWORD=
HALO_SECRET_KEY=
HALO_ORGANIZATION="Example Organization"
HALO_PUBLIC_URL=https://${HALO_DOMAIN}
HALO_DATABASE_URL=postgres://halo:${POSTGRES_PASSWORD}@postgres:5432/halo
HALO_LISTEN=:8080
HALO_DEV=
HALO_TRUSTED_PROXIES=172.31.250.0/24
HALO_SMTP_HOST=
HALO_SMTP_PORT=587
HALO_SMTP_USERNAME=
HALO_SMTP_PASSWORD=
HALO_SMTP_FROM=
